.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.App-menu-content {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  animation-name: Init-menu-content;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Photographer-logo {
  max-width: 250px;
  /* filter: blur(0px) drop-shadow(0px 0px 5px #86badf); */
}

.Photographer-logo img {
  width: 100%;
  transition: all 2s ease-out;
  /* animation: Animate-app-logo 5s infinite; */
}

.Photographer-profile-image {
  width: 50vw;
  max-width: 200px;
  /* filter: blur(0px) drop-shadow(0px 0px 5px #86badf); */
}

.Photographer-profile-image img {
  width: 100%;
  opacity: 0.8;
  border-radius: 50%;
}

.App-mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.App-frames {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  border: 8px solid #fefeff;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 1px #cce6f8) drop-shadow(0px 0px 2px #ecf6fd);
  /* animation: animate-app-frames 5s infinite; */
  /* box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.384),
    inset 0px 0px 7px 3px rgba(0, 0, 0, 0.37); */
}

.Hide-element {
  opacity: 0;
}

.PhotoPlayer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.PhotoPlayer-image {
  position: absolute;
  object-fit: cover;
  opacity: 0;
  height: 100%;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes Hide-content-mask {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Show-photo-player-image {
  0% {
    opacity: 0;
    transform: scale(1.7);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes Hide-photo-player-image {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
/* 
@keyframes animate-app-frames {
  0% {
    filter: drop-shadow(0px 0px 3px #cce6f8) drop-shadow(0px 0px 5px #ecf6fd);
  }
  50% {
    filter: drop-shadow(0px 0px 5px #86badf) drop-shadow(0px 0px 15px #b3dbf8);
  }
  100% {
    filter: drop-shadow(0px 0px 3px #cce6f8) drop-shadow(0px 0px 5px #ecf6fd);
  }
} */

/* @keyframes Animate-app-logo {
  0% {
    filter: drop-shadow(0px 0px 5px #86badf);
  }
  50% {
    filter: drop-shadow(0px 0px 15px #b3dbf8);
  }
  100% {
    filter: drop-shadow(0px 0px 5px #86badf);
  }
} */

@keyframes Init-menu-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 360px) {
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1020px) {
}

@media only screen and (min-width: 1080px) {
  .Photographer-logo {
    max-width: 400px;
  }
  .Photographer-profile-image {
    max-width: 250px;
  }
}
