.App {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 2500px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader {
  position: relative;
  z-index: 999;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 3px black);
  animation-name: Loading;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes Loading {
  0% {
    filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 0px black)
      drop-shadow(0px 0px 0px black);
  }
  50% {
    filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 5px black)
      drop-shadow(0px 0px 10px black);
  }
  100% {
    filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 0px black)
      drop-shadow(0px 0px 0px black);
  }
}

.Menu-button {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px 30px 0px 0px;
}

.icon-3 {
  transition: all 2s ease-out;
}

.icon-3 .top-arrow {
  border-style: solid;
  border-color: #fff;
  border-width: 0 5px 5px 0;
  padding: 15px;
  margin-top: 10px;
  transition: all 1s ease-out;
}

@keyframes arrow-up {
  0% {
    transform: rotate(-135deg) rotate3d(0, 0, 1, 180deg);
  }
  0% {
    transform: rotate(-135deg) rotate3d(0, 0, 1, 0deg);
  }
}

.Photographer-logo {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%, -100%);
  top: 40%;
  z-index: 2;
  max-width: 250px;
  opacity: 0;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes Init-photographer-logo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    top: 40%;
  }
  100% {
    opacity: 1;
    top: 98%;
  }
}

@keyframes Show-photographer-logo {
  0% {
    opacity: 1;
    top: 98%;
  }
  100% {
    opacity: 1;
    top: 40%;
  }
}

@keyframes Hide-photographer-logo {
  0% {
    opacity: 1;
    top: 40%;
  }
  100% {
    opacity: 1;
    top: 98%;
  }
}

.Photographer-logo img {
  width: 100%;
}

.Photographer-logo button {
  margin: 20px;
}

.Photographer-profile-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 40%;
  z-index: 1;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes Init-profile-info {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%);
    top: 40%;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 0%);
    top: 40%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 100%);
    top: 100%;
  }
}

@keyframes Show-profile-info {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
    top: 100%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
    top: 40%;
  }
}

@keyframes Hide-profile-info {
  0% {
    opacity: 1;
    transform: translate(-50%, 0%);
    top: 40%;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
    top: 100%;
  }
}

.Photographer-profile-image {
  width: 50vw;
  max-width: 200px;
  /* filter: blur(0px) drop-shadow(0px 0px 5px #86badf); */
}

.Photographer-profile-image img {
  width: 100%;
  /* opacity: 0.8; */
  border-radius: 50%;
  border: 2px solid #fefefe;
}

.App-mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.App-frames {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 8px solid #fefeff;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 1px #cce6f8) drop-shadow(0px 0px 2px #ecf6fd);
  /* animation: animate-app-frames 5s infinite; */
  /* box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.384),
    inset 0px 0px 7px 3px rgba(0, 0, 0, 0.37); */
}

.Hide-element {
  opacity: 0;
}

.PhotoPlayer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.PhotoPlayer-image {
  position: absolute;
  object-fit: cover;
  opacity: 0;
  height: 100%;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes Hide-content-mask {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Show-photo-player-image {
  0% {
    opacity: 0;
    transform: scale(1.7);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes Hide-photo-player-image {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
/* 
@keyframes animate-app-frames {
  0% {
    filter: drop-shadow(0px 0px 3px #cce6f8) drop-shadow(0px 0px 5px #ecf6fd);
  }
  50% {
    filter: drop-shadow(0px 0px 5px #86badf) drop-shadow(0px 0px 15px #b3dbf8);
  }
  100% {
    filter: drop-shadow(0px 0px 3px #cce6f8) drop-shadow(0px 0px 5px #ecf6fd);
  }
} */

/* @keyframes Animate-app-logo {
  0% {
    filter: drop-shadow(0px 0px 5px #86badf);
  }
  50% {
    filter: drop-shadow(0px 0px 15px #b3dbf8);
  }
  100% {
    filter: drop-shadow(0px 0px 5px #86badf);
  }
} */

@keyframes Init-menu-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 360px) {
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1020px) {
}

@media only screen and (min-width: 1080px) {
  .Photographer-logo {
    max-width: 400px;
  }
  .Photographer-profile-image {
    max-width: 250px;
  }
}
